
/* Home Page */

body {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
}
.headercontainer {
	margin: auto;
	width: 100%;
	padding: 0 0 0 0;
	background-color: #081c33;
}
.maincontainer {
	margin: auto;
	width: 100%;
	height: 100%;
	background-color: #7c61d5;
	padding: 0 0 160px 0;
	background: url(Images/Minecraft-Background2.png) no-repeat;
	background-position: left top;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
.buttoncontainer {
	padding: 370px 0 0 0;
	width: 100%;
}
.portfolio {
	margin: auto;
	height: 100%;
	width: 100%;
	overflow: auto;
	
}
.footer {
	text-align: center;
	font-family: archive;
	font-size: 11px;
	color: #dddddd;
	background: #081c33;
	width: 100%;
	margin: auto;
	padding: 2px 0 2px 0;
}
a {
	text-decoration: none;
	color: inherit;
}
nav ul {
	overflow: hidden;
	padding: 0 0 0 0;
	margin: 0px;
	text-align: center;
	background-color: #0e0028;
	font-size: 30px;
	color: #dddddd;
	font-family: archive;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
}
nav ul li {
	display: inline-block;
	padding: 10px;
}
.handle {
	width: 100%;
	background-color: #0e0028;
	text-align: left;
	box-sizing: border-box;
	padding: 20px 15px;
	cursor: pointer;
	font-size: 40px;
	color: #dddddd;
	display: none;
	font-family: archive;
}
.dropdownicon {
	display: none;
}
.kickstv {
	position: absolute;
	font-size: 20px;
	color: #dddddd;
	font-family: archive;
	text-shadow: 2px 2px #000000;
	padding: 18px 0 0 20px;
	margin: 0px;
	cursor: pointer;
}
.kickstvlogo {
	display: block;
    margin-left: auto;
	margin-right: auto;
	padding: 200px 0 0 0;
}
.mediabuttons {
	display: inline-block;
	border-radius: 25px;
	padding: 20px;
	width: 160px;
	height: 60px;
	cursor: pointer;
	
}
.utube {
	background: url(Images/Utube-Logo.svg) no-repeat;
	background-position: left top;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
.twitter {
	background: url(Images/Twitter-Logo.svg) no-repeat;
	background-position: left top;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
.twitch {
	background: url(Images/Twitch-Logo.svg) no-repeat;
	background-position: left top;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
.gap {
	display: inline-block;
	margin: 0 200px;
}
.utubelogo {
	border-radius: 25px;
    background: url(Images/Utube-Logo.svg) no-repeat;
    background-position: left top;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
    padding: 20px; 
    width: 160px;
    height: 77px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 250px;
	cursor: pointer;
}

/* Portfolio */

.miniportfolio {
	text-align: center;
	margin: 100px 0 0 0;
	font-family: archive;
}
.video {
	background: #1e1e1e;
	margin-left: 100px;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 30%;
	padding: 0 0 400px 0;
}
.text {
	color: #dddddd;
	text-align: center
}
.picture1 {
	background: #1e1e1e;
	width: 700px;
	height: 400px;
	float: right;
	margin-bottom: 100px;
}
.image1 {
	color: #dddddd;
	text-align: center;
}
.picture2 {
	background: #1e1e1e;
	width: 700px;
	height: 400px;
	float: right;
	margin-bottom: 100px;
	clear: both;
}
.image2 {
	color: #dddddd;
	text-align: center;
}
.picture3 {
	background: #1e1e1e;
	width: 700px;
	height: 400px;
	float: right;
	margin-bottom: 100px;
	clear: both;
}
.image3 {
	color: #dddddd;
	text-align: center;
}

/* Phone size*/

@media screen and (max-width: 800px) {
	nav ul {
		max-height: 0;
	}
	.showing {
		max-height: 20em;
	}
	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 15px;
		text-align: left;
	}
	.handle {
		display:block;
	}
	.dropdownicon {
		display: block;
		float: right;
	}
	.kickstv {
		display: none;
	}
}
@media screen and (max-width: 1170px) {
	.kickstv {
		display: none;
	}
	.gap {
		margin: 0;
	}
}

/* Gallery page */

.gallery {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #dddddd;
	font-size: 60px;
	font-family: archive;
	padding-top: 100px;
}
